@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-04963599723c63b7.woff2') format('woff2');
  unicode-range: U+4e00-4e0f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-04a581db85db1264.woff2') format('woff2');
  unicode-range: U+4e10-4e1f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-04eb870148b2b987.woff2') format('woff2');
  unicode-range: U+4e20-4e2f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-08aee6fa067d1881.woff2') format('woff2');
  unicode-range: U+4e30-4e3f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-094f02ea710eaf0b.woff2') format('woff2');
  unicode-range: U+4e40-4e4f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-0e96115a5c3f7b8b.woff2') format('woff2');
  unicode-range: U+4e50-4e5f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-0e9ac47259aae665.woff2') format('woff2');
  unicode-range: U+4e60-4e6f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-0ed257e26d6b170c.woff2') format('woff2');
  unicode-range: U+4e70-4e7f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-1251d86fec362931.woff2') format('woff2');
  unicode-range: U+4e80-4e8f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-146c470482cce1ef.woff2') format('woff2');
  unicode-range: U+4e90-4e9f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-15890a5deb2278a8.woff2') format('woff2');
  unicode-range: U+4ea0-4eaf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-15b14f82567e3c5c.woff2') format('woff2');
  unicode-range: U+4eb0-4ebf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-163d72c54bd804be.woff2') format('woff2');
  unicode-range: U+4ec0-4ecf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-176bc6e9e919b4b6.woff2') format('woff2');
  unicode-range: U+4ed0-4edf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-1b747b3bc4540cd1.woff2') format('woff2');
  unicode-range: U+4ee0-4eef;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-1f3fed5396ffd9cd.woff2') format('woff2');
  unicode-range: U+4ef0-4eff;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-202e57327c5c6e38.woff2') format('woff2');
  unicode-range: U+4f00-4f0f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-29d4726279623d52.woff2') format('woff2');
  unicode-range: U+4f10-4f1f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-29df9a63ed47b645.woff2') format('woff2');
  unicode-range: U+4f20-4f2f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-2a9f30746184180a.woff2') format('woff2');
  unicode-range: U+4f30-4f3f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-2c0ac1e9684cb36a.woff2') format('woff2');
  unicode-range: U+4f40-4f4f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-2cb82758101874b9.woff2') format('woff2');
  unicode-range: U+4f50-4f5f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-2e0ba15a95c91b87.woff2') format('woff2');
  unicode-range: U+4f60-4f6f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3058a51abdff5695.woff2') format('woff2');
  unicode-range: U+4f70-4f7f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3085df28fa0b4f8a.woff2') format('woff2');
  unicode-range: U+4f80-4f8f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-308a85620b978a82.woff2') format('woff2');
  unicode-range: U+4f90-4f9f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-33a554dbb0834280.woff2') format('woff2');
  unicode-range: U+4fa0-4faf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-34efc9fbb0bf8a02.woff2') format('woff2');
  unicode-range: U+4fb0-4fbf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-35bb19de9e1e836a.woff2') format('woff2');
  unicode-range: U+4fc0-4fcf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-36234d8f24e04c15.woff2') format('woff2');
  unicode-range: U+4fd0-4fdf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-364ec31c61cc97dc.woff2') format('woff2');
  unicode-range: U+4fe0-4fef;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3758fda30243ca64.woff2') format('woff2');
  unicode-range: U+4ff0-4fff;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3b864a0226072e05.woff2') format('woff2');
  unicode-range: U+5000-500f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3bbf2e90997b950d.woff2') format('woff2');
  unicode-range: U+5010-501f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3d7b152aaed7c5b9.woff2') format('woff2');
  unicode-range: U+5020-502f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-3f975c76013d0b33.woff2') format('woff2');
  unicode-range: U+5030-503f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-45a5a482140e90a4.woff2') format('woff2');
  unicode-range: U+5040-504f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-466e2ffe85779458.woff2') format('woff2');
  unicode-range: U+5050-505f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-46823fded32242a4.woff2') format('woff2');
  unicode-range: U+5060-506f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-4848162d377a0249.woff2') format('woff2');
  unicode-range: U+5070-507f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-496e5dd1e6c42468.woff2') format('woff2');
  unicode-range: U+5080-508f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-4cac190b9ee440ca.woff2') format('woff2');
  unicode-range: U+5090-509f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-4f12a1c3b7eb5297.woff2') format('woff2');
  unicode-range: U+50a0-50af;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-50e07d379dc28ee7.woff2') format('woff2');
  unicode-range: U+50b0-50bf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-54370ae7f9c574ae.woff2') format('woff2');
  unicode-range: U+50c0-50cf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-5bd3472f6b08a4da.woff2') format('woff2');
  unicode-range: U+50d0-50df;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-5dd869823b9b53d7.woff2') format('woff2');
  unicode-range: U+50e0-50ef;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-629e5c1361633513.woff2') format('woff2');
  unicode-range: U+50f0-50ff;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-64e46c2d417d97a1.woff2') format('woff2');
  unicode-range: U+5100-510f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-66695064ab1ae2a0.woff2') format('woff2');
  unicode-range: U+5110-511f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-68aaef7078727114.woff2') format('woff2');
  unicode-range: U+5120-512f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-6aa019497f6c0841.woff2') format('woff2');
  unicode-range: U+5130-513f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-76d5e0435683e414.woff2') format('woff2');
  unicode-range: U+5140-514f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-7e442dbc6dd0efa5.woff2') format('woff2');
  unicode-range: U+5150-515f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-82de91ae9da3de5d.woff2') format('woff2');
  unicode-range: U+5160-516f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-82e51f7ef43af696.woff2') format('woff2');
  unicode-range: U+5170-517f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-84207ed71789891b.woff2') format('woff2');
  unicode-range: U+5180-518f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-8633791726b9968b.woff2') format('woff2');
  unicode-range: U+5190-519f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-8859b1910b350362.woff2') format('woff2');
  unicode-range: U+51a0-51af;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-89ae163266f5c4fc.woff2') format('woff2');
  unicode-range: U+51b0-51bf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-92a16841f52c5996.woff2') format('woff2');
  unicode-range: U+51c0-51cf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-94b8f027b0c62ff8.woff2') format('woff2');
  unicode-range: U+51d0-51df;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-986ca32b3825ba6a.woff2') format('woff2');
  unicode-range: U+51e0-51ef;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-9a1348411ba934f0.woff2') format('woff2');
  unicode-range: U+51f0-51ff;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-a28c3b3ffc1a1862.woff2') format('woff2');
  unicode-range: U+5200-520f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-a5f72e5b0a3c1e84.woff2') format('woff2');
  unicode-range: U+5210-521f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ab4f1be3bfc63049.woff2') format('woff2');
  unicode-range: U+5220-522f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ac01c0951378b560.woff2') format('woff2');
  unicode-range: U+5230-523f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ad01e5b568b929c0.woff2') format('woff2');
  unicode-range: U+5240-524f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ad285bdb1a97f1c9.woff2') format('woff2');
  unicode-range: U+5250-525f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-b2cc7e81ac14c8be.woff2') format('woff2');
  unicode-range: U+5260-526f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-b36eac13603c59c7.woff2') format('woff2');
  unicode-range: U+5270-527f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-b7fdbc43a4e2a8b7.woff2') format('woff2');
  unicode-range: U+5280-528f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-b8c9cc848ec84c47.woff2') format('woff2');
  unicode-range: U+5290-529f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ba2ee88392ccc80d.woff2') format('woff2');
  unicode-range: U+52a0-52af;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ba89a671923c602b.woff2') format('woff2');
  unicode-range: U+52b0-52bf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-bb5c45c75fe85bc9.woff2') format('woff2');
  unicode-range: U+52c0-52cf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-bf556ff22549c4a4.woff2') format('woff2');
  unicode-range: U+52d0-52df;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-c650b92949a4d842.woff2') format('woff2');
  unicode-range: U+52e0-52ef;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-c78aa23d4235dc7d.woff2') format('woff2');
  unicode-range: U+52f0-52ff;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-c817483318708198.woff2') format('woff2');
  unicode-range: U+5300-530f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ca4c83390e6c8c9b.woff2') format('woff2');
  unicode-range: U+5310-531f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-cc7326521cd1e63c.woff2') format('woff2');
  unicode-range: U+5320-532f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ce1bdd1bbc2006c2.woff2') format('woff2');
  unicode-range: U+5330-533f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-cf162e65967790a3.woff2') format('woff2');
  unicode-range: U+5340-534f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d05b50d4a1a882b3.woff2') format('woff2');
  unicode-range: U+5350-535f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d103bc5e81299af4.woff2') format('woff2');
  unicode-range: U+5360-536f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d561b531a9f7f5a9.woff2') format('woff2');
  unicode-range: U+5370-537f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d6540c50ef6fcd22.woff2') format('woff2');
  unicode-range: U+5380-538f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d717b4d6514de37f.woff2') format('woff2');
  unicode-range: U+5390-539f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d9038ee66af1d433.woff2') format('woff2');
  unicode-range: U+53a0-53af;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-d9eccb2fe89daac7.woff2') format('woff2');
  unicode-range: U+53b0-53bf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-de6ca9f98e9da852.woff2') format('woff2');
  unicode-range: U+53c0-53cf;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-de7d1473e4568c26.woff2') format('woff2');
  unicode-range: U+53d0-53df;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-e86c052cff1089a2.woff2') format('woff2');
  unicode-range: U+53e0-53ef;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-e9754b6845ca9199.woff2') format('woff2');
  unicode-range: U+53f0-53ff;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ea5bd9f5c523d6b8.woff2') format('woff2');
  unicode-range: U+5400-540f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-ed741ab1dc869b9f.woff2') format('woff2');
  unicode-range: U+5410-541f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-f4cc6b7c5c562613.woff2') format('woff2');
  unicode-range: U+5420-542f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-f5fb54d2cd849023.woff2') format('woff2');
  unicode-range: U+5430-543f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-fa4aec1693fab075.woff2') format('woff2');
  unicode-range: U+5440-544f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-fd8a322863c6583e.woff2') format('woff2');
  unicode-range: U+5450-545f;
}

@font-face {
  font-family: 'Blueaka';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./Blueaka-fe5b82133d5f0903.woff2') format('woff2');
  unicode-range: U+5460-546f;
}
